@import '~bootstrap/scss/bootstrap';

@import './Components/HomeUI/homeui.scss';

.Offcanvas-Body-Center {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
}

/* Add a class to center the content */
.center-content {
  text-align: center;
}

footer {
  background-color: #F9FAFB;
}